<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" version="25.0.0" />
  <package id="7zip.install" version="25.0.0" />
  <package id="7zip.portable" version="25.0.0" />
  <package id="adb" version="36.0.0" />
  <package id="aimp" version="5.40.2683" />
  <package id="aria2" version="1.37.0" />
  <package id="au" version="2022.10.24" />
  <package id="audacity" version="3.7.4" />
  <package id="authy-desktop" version="3.0.0" />
  <package id="autohotkey.portable" version="2.0.19" />
  <package id="ccleaner" version="6.37.11523" />
  <package id="cdburnerxp" version="4.5.8.712800" />
  <package id="choco-cleaner" version="1.1.1" />
  <package id="chocolatey" version="2.5.0" />
  <package id="chocolatey-compatibility.extension" version="1.0.0" />
  <package id="chocolatey-core.extension" version="1.4.0" />
  <package id="chocolatey-dotnetfx.extension" version="1.0.1" />
  <package id="chocolateygui" version="2.1.1" />
  <package id="chocolatey-misc-helpers.extension" version="0.0.4" />
  <package id="chocolatey-windowsupdate.extension" version="1.0.5" />
  <package id="cmake" version="4.0.3" />
  <package id="cmake.install" version="4.0.3" />
  <package id="curl" version="8.15.0" />
  <package id="defraggler" version="2.22.995.20200817" />
  <package id="directx" version="9.29.1974.20210222" />
  <package id="dotnet" version="9.0.7" />
  <package id="dotnet-10.0-desktopruntime" version="10.0.0-preview625358103" />
  <package id="DotNet4.5.2" version="4.5.2.20140902" />
  <package id="DotNet4.6.1" version="4.6.01055.20170308" />
  <package id="dotnet4.7" version="4.7.2053.20190226" />
  <package id="dotnet-6.0-desktopruntime" version="6.0.36" />
  <package id="dotnet-8.0-desktopruntime" version="8.0.18" />
  <package id="dotnet-8.0-runtime" version="8.0.18" />
  <package id="dotnet-9.0-desktopruntime" version="9.0.7" />
  <package id="dotnet-9.0-runtime" version="9.0.7" />
  <package id="dotnet-desktopruntime" version="10.0.0-preview625358103" />
  <package id="dotnetfx" version="4.8.0.20220524" />
  <package id="dotnet-runtime" version="9.0.7" />
  <package id="eac" version="1.8.0.20241108" />
  <package id="ffmpeg-full" version="7.1.1" />
  <package id="filezilla" version="3.69.1" />
  <package id="Firefox" version="140.0.4" />
  <package id="gallery-dl" version="1.29.7" />
  <package id="getiplayer" version="3.36.0" />
  <package id="git" version="2.50.1" />
  <package id="git.install" version="2.50.1" />
  <package id="gnupg" version="2.4.8" />
  <package id="gpg4win" version="4.4.1" />
  <package id="haali-media-splitter" version="1.13.138.1401" />
  <package id="handbrake" version="1.9.2" />
  <package id="handbrake.install" version="1.9.2" />
  <package id="hashtab" version="6.0.0.3402" />
  <package id="imgburn" version="2.5.8.20210426" />
  <package id="irfanview" version="4.72.0" />
  <package id="irfanviewplugins" version="4.72.0" />
  <package id="KB2533623" version="2.0.0" />
  <package id="KB2919355" version="1.0.20160915" />
  <package id="KB2919442" version="1.0.20160915" />
  <package id="KB2999226" version="1.0.20181019" />
  <package id="KB3033929" version="1.0.5" />
  <package id="KB3035131" version="1.0.3" />
  <package id="KB3063858" version="1.0.0" />
  <package id="k-litecodecpackmega" version="19.0.5" />
  <package id="liberica17jdkfull" version="17.0.13.12" />
  <package id="mkvtoolnix" version="93.0.0" />
  <package id="msys2" version="20250622.0.0" />
  <package id="myphoneexplorer" version="2.1.0.20240619" />
  <package id="netfx-4.7.2" version="4.7.2.0" />
  <package id="netfx-4.8" version="4.8.0.20220524" />
  <package id="obs-studio" version="31.1.1" />
  <package id="obs-studio.install" version="31.1.1" />
  <package id="pcsx2-dev" version="2.5.70-dev" />
  <package id="poedit" version="2.4.2" />
  <package id="ppsspp" version="1.19.3" />
  <package id="putty" version="0.83.0" />
  <package id="putty.portable" version="0.83.0" />
  <package id="recuva" version="1.54.120" />
  <package id="reshack" version="5.2.8" />
  <package id="ruby" version="3.4.4.2" />
  <package id="ruby.install" version="3.4.4.2" />
  <package id="rufus" version="4.9.0" />
  <package id="scummvm" version="2.9.1" />
  <package id="speccy" version="1.33.75" />
  <package id="spek" version="0.8.5" />
  <package id="sublimetext3" version="3.2.2" />
  <package id="sumatrapdf" version="3.5.2" />
  <package id="sumatrapdf.install" version="3.5.2" />
  <package id="thunderbird" version="140.0.1" />
  <package id="transmission" version="4.0.6" />
  <package id="treesizefree" version="4.7.3.1" />
  <package id="vcredist140" version="14.44.35211" />
  <package id="vcredist2008" version="9.0.30729.616104" />
  <package id="vcredist2010" version="10.0.40219.32503" />
  <package id="vcredist2015" version="14.0.24215.20170201" />
  <package id="vcredist2017" version="14.16.27052" />
  <package id="virtualbox" version="7.1.12" />
  <package id="vlc" version="3.0.21" />
  <package id="vlc.install" version="3.0.21" />
  <package id="Wget" version="1.21.4" />
  <package id="winfetch" version="2.5.1" />
  <package id="winrar" version="7.12.0" />
  <package id="yt-dlp" version="2025.6.30" />
</packages>