<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" version="23.1.0" />
  <package id="7zip.install" version="23.1.0" />
  <package id="7zip.portable" version="23.1.0" />
  <package id="adb" version="34.0.5" />
  <package id="aimp" version="5.30.2533.20231220" />
  <package id="aria2" version="1.37.0" />
  <package id="au" version="2022.10.24" />
  <package id="audacity" version="3.4.2" />
  <package id="authy-desktop" version="2.4.2" />
  <package id="autohotkey.portable" version="2.0.11" />
  <package id="ccleaner" version="6.20.10897" />
  <package id="cdburnerxp" version="4.5.8.712800" />
  <package id="choco-cleaner" version="1.1.1" />
  <package id="chocolatey" version="2.2.2" />
  <package id="chocolatey-compatibility.extension" version="1.0.0" />
  <package id="chocolatey-core.extension" version="1.4.0" />
  <package id="chocolatey-dotnetfx.extension" version="1.0.1" />
  <package id="chocolateygui" version="2.1.0" />
  <package id="chocolatey-misc-helpers.extension" version="0.0.4" />
  <package id="chocolatey-windowsupdate.extension" version="1.0.5" />
  <package id="curl" version="8.5.0" />
  <package id="defraggler" version="2.22.995.20200817" />
  <package id="directx" version="9.29.1974.20210222" />
  <package id="dotnet" version="8.0.1" />
  <package id="DotNet4.5.2" version="4.5.2.20140902" />
  <package id="dotnet4.7" version="4.7.2053.20190226" />
  <package id="dotnet-5.0-runtime" version="5.0.17" />
  <package id="dotnet-6.0-aspnetruntime" version="6.0.26" />
  <package id="dotnet-6.0-desktopruntime" version="6.0.26" />
  <package id="dotnet-6.0-runtime" version="6.0.26" />
  <package id="dotnet-7.0-runtime" version="7.0.15" />
  <package id="dotnet-8.0-desktopruntime" version="8.0.1" />
  <package id="dotnet-8.0-runtime" version="8.0.1" />
  <package id="dotnetcore-3.1-runtime" version="3.1.32" />
  <package id="dotnet-desktopruntime" version="8.0.1" />
  <package id="dotnetfx" version="4.8.0.20220524" />
  <package id="dotnet-runtime" version="8.0.1" />
  <package id="eac" version="1.6" />
  <package id="ffmpeg-full" version="6.1.1" />
  <package id="filezilla" version="3.66.4" />
  <package id="Firefox" version="122.0.0" />
  <package id="gallery-dl" version="1.26.6" />
  <package id="git" version="2.43.0" />
  <package id="git.install" version="2.43.0" />
  <package id="gnupg" version="2.4.4" />
  <package id="gpg4win" version="4.3.0" />
  <package id="haali-media-splitter" version="1.13.138.1401" />
  <package id="handbrake" version="1.7.2" />
  <package id="handbrake.install" version="1.7.2" />
  <package id="hashtab" version="6.0.0.3402" />
  <package id="imgburn" version="2.5.8.20210426" />
  <package id="irfanview" version="4.66.0" />
  <package id="irfanviewplugins" version="4.66.0" />
  <package id="KB2533623" version="2.0.0" />
  <package id="KB2919355" version="1.0.20160915" />
  <package id="KB2919442" version="1.0.20160915" />
  <package id="KB2999226" version="1.0.20181019" />
  <package id="KB3033929" version="1.0.5" />
  <package id="KB3035131" version="1.0.3" />
  <package id="KB3063858" version="1.0.0" />
  <package id="k-litecodecpackmega" version="18.0.5" />
  <package id="liberica17jdkfull" version="17.0.10.13" />
  <package id="mkvtoolnix" version="82.0.0" />
  <package id="mls-software-openssh" version="9.5.1.1" />
  <package id="myphoneexplorer" version="2.1.0" />
  <package id="netfx-4.7.2" version="4.7.2.0" />
  <package id="netfx-4.8" version="4.8.0.20220524" />
  <package id="obs-studio" version="30.0.2" />
  <package id="obs-studio.install" version="30.0.2" />
  <package id="openssl" version="3.2.0" />
  <package id="pcsx2-dev" version="1.7.5533-dev" />
  <package id="poedit" version="2.4.2" />
  <package id="ppsspp" version="1.17.0" />
  <package id="protonvpn" version="3.2.9" />
  <package id="recuva" version="1.53.2096" />
  <package id="rufus" version="4.4.0" />
  <package id="speccy" version="1.32.803" />
  <package id="spek" version="0.8.2.20161221" />
  <package id="sublimetext3" version="3.2.2" />
  <package id="sumatrapdf" version="3.5.2" />
  <package id="sumatrapdf.install" version="3.5.2" />
  <package id="thunderbird" version="115.7.0" />
  <package id="transmission" version="4.0.5" />
  <package id="treesizefree" version="4.7.1.1" />
  <package id="vcredist140" version="14.38.33130" />
  <package id="vcredist2008" version="9.0.30729.616104" />
  <package id="vcredist2010" version="10.0.40219.32503" />
  <package id="vcredist2015" version="14.0.24215.20170201" />
  <package id="vcredist2017" version="14.16.27033" />
  <package id="virtualbox" version="7.0.14" />
  <package id="vlc" version="3.0.20" />
  <package id="vlc.install" version="3.0.20" />
  <package id="Wget" version="1.21.4" />
  <package id="winrar" version="6.24" />
  <package id="yt-dlp" version="2023.12.30" />
</packages>